@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
html,
body{
	width:100%;
	height:100%;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	color:#001A33;
	-webkit-tap-higlight-color:#222;
	top:0;
}
/*Work Around Modal Open padding issue */
body .modal-open{
	padding-right: 0 !important;
}
hr{

	max-width: 120px;
	border-width: 3px;
	opacity: 0.08;
	margin-top: 25px;
	margin-bottom: 25px;
}
hr.light {
	border-color: #fff;
	opacity: 1;
}
hr.primary {
	border-color:#1565c0;
	opacity: 1;
}
a{
	color:#1565c0;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
	transition:all .35s;
}
a:hover,
a:focus{
	color:#222;
	outline:0;
}
p{
	font-size:17px;
	line-height: 1.7;
	margin-bottom:20px;
	font-family: 'Josefin Sans', sans-serif;
}
.text-normal {
	font-family: 'Josefin Sans', sans-serif;
}
.wide-space {
	letter-spacing: 1.6px;
}
.icon-lg {
	font-size:50px;
	line-height: 18px;
}
.bg-primary{
	background-color: #1565c0;
}
.bg-alt{
	background-color: #fff;
}
.text-faded{
	color:rgba(245,245,245,0.7);
}
.text-dark{
	color:#37474f;
}
.text-light{
	color:#fff;
}
.text-light:hover,.text-light:focus{
	color:#eee;
	text-decoration: none;
}
.text-primary{
	color:#1565c0;
}
.section{
	padding:70px 0;
}
aside {
	padding:45px 0;
}
footer{
	padding:45px;
	padding-top:40px;
	background-color: #212121;
}
footer h4, footer h6{
	color:#fff;
}
#footer {background:#212121;}
#footer a{color:#fff;}

.navbar-default {
	border-color:#1565c0;
	background-color:#f5f5f5;
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
	transition:all .4s;
	border-bottom:1px solid #e0e0e3;
}
.navbar-brand{
	-webkit-transition:padding .2s ease-in;
	-moz-transition:padding .2s ease-in;
	transition: padding .2s ease-in;
}
.navbar-brand:hover,
.navbar-brand:focus{
	color:#1565c0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #001A33;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse{
	border-color:transparent;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus{
	font-size: 12px;
	color: #1565c0;
	text-transform: uppercase;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover{
	color:#1565c0;
}
.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus{
	color: #1565c0 !important;
	background-color: transparent;
}
/*Responsive */
@media (max-width: 48em){
	.navbar-default .navbar-nav > .nav-item {
		float:none;
		margin-left: .1em;
	}
	.navbar-default .navbar-nav {
		float:left;
	}
	.navbar-default .navbar-brand img{
		display:inline; 
	}
}

@media(min-width: 48em){
	.navbar-default {
		border-color:transparent;
		background-color:#fff;
		min-height:60px;
	}
	.navbar-brand {
		padding:12px;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus{
		color:#1565c0;
	}
	.navbar-default .nav > li a,
	.navbar-default .nav > li >a:focus{
		color: #1565c0;
		padding-left: 5px;
		padding-top:  21px;
		letter-spacing: 1.1px;
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover{
		color:#1565c0;
	}
	#topNav{
		background-color: rgba(0,0,0,.24;);
	}
}

header{
	position:relative;
	min-height: auto;
	text-align: center;
	color:#1565c0;
	width:100%;
	background-color:#f5f5f5;
}
header .header-content{
	position: relative;
	width:100%;
	padding: 100px 15px;
	text-align: center;
	z-index: 2;
}
header .header-content .inner h1{
	margin-top: 0;
	margin-bottom: 0;
}
header .header-content .inner p {
	margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}
@media(min-width:34em) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.list-group-item, .card-footer {
    background-color:transparent;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color:#007FFF;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color:#007FFF;
    color:#007FFF;
}
.btn-primary-outline:hover {
    background-color:#007FFF;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
.panel {
margin-bottom:20px;
background-color:#fff;
border:1px solid transparent;
border-radius:4px;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5);
box-shadow:0 1px 1px rgba(0,0,0,.05);
}
.panel-primary {
border-color:#337ab7;
}
.panel-primary >.panel-heading{
color:#fff;
background-color:#0d47a1;
border-color:#0d47a1;
}
.panel-info >.panel-heading{
color:#fff;
background-color:#03a9f4;
border-color:#03a9f4;
}
.panel-sucess >.panel-heading{
color:#fff;
background-color:#00796b;
border-color:#00796b;
}
.panel-warning >.panel-heading{
color:#000;
background-color:#fdd835;
border-color:#fdd835;
}
.panel-danger >.panel-heading{
color:#fff;
background-color:#c62828;
border-color:#c62828;
}
.panel-title {
margin-top:0;
margin-bottom:0;
font-size:16px;
color:inherit;
}
.text-center{
text-align:center;
}
.panel-body {
padding:15px;
background:#eeeeee;
}
.panel-heading {
padding:10px 15px;
border-bottom:1px solid transparent;
border-top-left-radius :3px;
border-top-right-radius:3px;
}
/* Pengaturan Warna Icon Font Awesome*/
.fa-html5{
color:#1e88e5;
}
.fa-github {
color:#00695c;
}
.fa-bitcoin {
color:#00838f;
}
.fa-css3{
color:#0277bd;
}
.fa-power-off{
color:#00695c;
}
.fa-shield{
color:#283593;
}
.fa-database{
color:#0d47a1;
}
.fa-users{
color:#00796b;
}
kbd {
background-color:#00796b;
color:#fff;
border-radius:3px;
box-shadow:0 1px 1px rgba(0,0,0,.34);
font-family:'Helvetica',sans-serif;
}

